/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}

/* og látum erfast á allt */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  max-width: 1000px; //Til að síðan sé mest 1000px
  margin: auto; //Setja síðuna í miðjuna
}

h3{
  padding-top:.5rem;
}

h2{
padding-top: 1.5rem;
}

//Div utan um allt efnið
.layout__main{
  display: grid;
}



