/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}

/* og látum erfast á allt */
*,
*::before,
*::after {
  box-sizing: inherit;
}

//Þarf síðan örgl að flokka í fleiri scss skrár, fannst þetta bara þæginlegra svona fyrst
body{
  max-width: 900px; //Til að síðan sé mest 1000px
  margin: auto; //Setja síðuna í miðjuna
}

h3{
  padding-top:.5rem;
}

h2{
padding-top: 1.5rem;
}

//Div utan um allt efnið
.layout__main{
  display: grid;
}

//h2 tagið "Verkefnalistinn"
.layout__header{
  grid-column: 2;
}

//Flokkarnir vinstra megin á síðunni
.category__items{
  grid-column: 1;
  grid-row: 2/ span 3 ;
}

//Flokkunar takkinn
.sort__items{
  grid-column: 2;
}

//Verkefnin sem þarf að gera
.task__items{
  grid-column: 2;
  padding-bottom: 2rem;
  padding-top: .5rem;
}